#chkapp {
    .chkpage {
        font-family: "LiHei", sans-serif;
        background-image: url(../imgs/x2/blur_bg_down.jpg) !important;
        background-repeat: no-repeat;
        background-position: center bottom 0px;
        background-color: $bg;
        padding-bottom: 50px;
        min-height: 83vh;

        .banner {
            height: 320px;
            position: relative;

            img.text_fill {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 50px;
                width: 65%;
            }

            img:nth-of-type(2) {
                display: none;
            }
        }

        main {
            max-width: 1052px;
            margin: 0 auto;
            display: flex;
            border: 1px solid transparent;


            .wordBox {
                width: 60%;
                border: 1px solid transparent;

                .wordItem {
                    display: flex;
                    margin-top: 60px;

                    .flxLeft {
                        width: 40%;
                        text-align: right;
                        font-size: 38px;
                        color: $main;
                    }

                    .flxRight {
                        width: 59%;
                        font-size: 38px;
                    }
                }
            }

            .imgBox {
                width: 39%;
                border: 1px solid transparent;

                img {
                    max-width: 100%;
                }
            }
        }

        .down {
            width: 55%;
            margin: 60px auto 0 auto;

            .btnRow {
                display: flex;
                justify-content: center;
                margin-bottom: 80px;

                button {
                    width: 318px;
                    height: 80px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-color: transparent;
                    outline: unset;
                    border: unset;
                    cursor: pointer;

                    img {
                        width: 100%;

                        &:active {
                            opacity: .8;
                        }
                    }

                }
                button:nth-of-type(1) {
                    margin-right: 8%;
                }

                button:nth-of-type(2) {
                    margin-left: 8%;
                }
            }
        }
    }
}

@include middle_screen{
    .chkpage {
        .banner {
            height: 275px ;
            position: relative;

            img.text_fill {
                bottom: 25px;
            }

        }
        main {

            .wordBox {

                .wordItem {
                    display: flex;
                    margin-top: 50px;

                    .flxLeft {
                        width: 45%;
                        text-align: right;
                        font-size: 34px !important;
                        color: $main;
                    }

                    .flxRight {
                        width: 59%;
                        font-size: 34px !important;
                    }
                }
            }

        }

    }
}

@include laptop {
    #chkapp {
        .chkpage {
           
            .banner {
                height: 180px ;

                img.text_fill {
                    bottom: 25px;
                    width: 80%;
                }
            }

            main {
                max-width: 820px;

                .wordBox {

                    .wordItem {

                        .flxLeft {
                            width: 50%;
                            font-size: 28px;
                        }

                        .flxRight {
                            font-size: 28px;
                        }
                    }
                }

                .imgBox {
                    width: 39%;

                    img {
                        max-width: 100%;
                        margin-top: 63px;
                    }
                }
            }

            .down {
                width: 80%;
                margin-bottom: 54px;

                .btnRow {

                    button {
                        width: 257px !important;
                        height: 64px !important;

                    }
                }
            }
        }



    }

}

@include ipad{
    #chkapp {
        .chkpage {
           
            .banner {
                height: 150px ;

                img.text_fill {
                    bottom: 25px;
                    width: 80%;
                }
            }

            main {
                max-width: 820px;

                .wordBox {

                    .wordItem {

                        .flxLeft {
                            width: 50%;
                            font-size: 28px !important;
                        }

                        .flxRight {
                            font-size: 28px !important;
                        }
                    }
                }

                .imgBox {
                    width: 39%;

                    img {
                        max-width: 100%;
                        margin-top: 63px;
                    }
                }
            }

            .down {
                width: 80%;
                margin-bottom: 54px;

                .btnRow {

                    button {
                        width: 220px !important;
                    }

                    button:nth-of-type(1) {
                        margin-right: 6%;
                    }
    
                    button:nth-of-type(2) {
                        margin-left: 6%;
                    }
                }
            }
        }



    }  
}

@include mobile {
    #chkapp {

        .chkpage {
            background-image: url(../imgs/mobile/m_blur_bg_up.jpg),
                url(../imgs/mobile/m_blur_bg_down.jpg) !important;
            background-position: left top, left bottom !important;
            background-repeat: no-repeat, no-repeat !important;
            background-size: contain !important;
            padding-bottom: 50px;
            min-height: 79vh;

            .banner {
                height: 147px !important;
                position: relative;

                img.text_fill {
                    display: none;
                }

                img:nth-of-type(2) {
                    display: block;
                    max-width: 90%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 10px;
                }
            }

            main {
                display: block;

                .wordBox {
                    width: 90%;
                    margin: 0 auto;

                    .wordItem:nth-of-type(1) {
                        margin-top: 5px;
                    }

                    .wordItem {
                        margin-top: 20px;

                        .flxLeft,
                        .flxRight {
                            font-size: 20px;
                        }

                        .flxLeft {
                            width: 48%;
                            margin-right: 7px;
                        }
                    }
                }

                .imgBox {
                    display: none;
                }
            }

            .down {
                display: block;
                margin-top: 40px;

                .btnRow {

                    button {
                        width: 120px;
                    }
                }
            }
        }
    }

}

@include mobile_m{
    #chkapp {

        .chkpage {
            min-height: 78vh;
            main {

                .wordBox {

                    .wordItem {

                        .flxLeft {
                            font-size: 20px !important;
                        }

                        .flxRight {
                            font-size: 20px !important;
                        }
                    }
                }
            }

            .down {

                .btnRow {
                    button:nth-of-type(1) {
                        margin-right: 4%;
                    }
    
                    button:nth-of-type(2) {
                        margin-left: 4%;
                    }
                }
            }
        }

    }
}

@include mobile_s {
    #chkapp {

        .chkpage {
            min-height: 78vh;

            .banner {
                height: 100px !important;
                position: relative;

            }

            .down {
                .btnRow {
                    button:nth-of-type(1) {
                        margin-right: 3%;
                    }
    
                    button:nth-of-type(2) {
                        margin-left: 3%;
                    }
                }
            }


        }

    }
}
