#indexapp, #chkapp, #scanapp, #loseapp, #winapp, #loadapp{
    header {
        position: relative;
        height: 240px;
        z-index: 5;
        background-image: url(./../imgs/x2/head_bg.png);
        background-repeat: no-repeat;
        background-size: cover;

        .fullHeader {
            position: absolute;
            height: 320px;
            left: 50%;
            top: 20%;
            transform: translateX(-50%);
        }

        .narrowHeader {
            display: none;
        }
    }
    footer {
        background-color: $main;
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;

        div {
            
            color: white;
            display: flex;
            font-size: 10px;
            justify-content: center;

            p {
                margin: 15px 10px;
            }

        }
    }

    @media all and (max-width: 1420px) {
        header{
            height: 200px;
            .fullHeader{
                height: 240px;
                top: 40%;
            }
        }
     }

     @include laptop{
         header{
             height: 140px;
             .fullHeader{
                 height: 220px;
                 top:20%
             }
         }
     }

     @media all and (max-width: 910px) {
        header{
            height: 130px;
            .fullHeader{
                height: 188px;
            }
        }
        footer{
            div{
                font-size: 8px;
            }
            
        }
     }

     @include ipad{
        header{
            height: 110px;
            .fullHeader{
                height: 165px;
            }
        }
        footer{
            padding: 10px 0;
            text-align: center;
            div{
                display: block;
                p{
                    margin: 0px;
                }
            }
            
        }
     }

     @include mobile{
         header{
             background-image: url(./../imgs/mobile/m_head_bg.png);
             background-size: cover;
             .fullHeader{
                 width: 95%;
                 top:35%;
             }
         }
         footer{
            padding: 10px 0;
            text-align: center;
            div{
                display: block !important;
                p{
                    margin: 0px !important;
                }
            }
         }
     }

     @include mobile_m{
         header{
             background-size: cover;
             height: 86px;
             .fullHeader{
                height: 112px;
             }
         }
     }

     @include mobile_s{
         header{
            height: 78px;
            .fullHeader{
                height: 100px;
                top: 40%;
            }
         }
     }

     @include mobile_xs{
          header{
              height: 66px;
              .fullHeader{
                  height: 89px;
                  top:33%
              }
          }
          footer{
            position: relative;
        } 
     }
}