$max_screen:2560px;
$full_screen:1680px;
$middle_screen:1283px;
$laptop:992px;
$ipad:768px;
$mobile:576px;
$mobile_m:414px;
$mobile_12:390px;
$mobile_s:375px;
$mobile_xs:320px;

@mixin max_screen {
   @media all and (max-width: $max_screen) {
      @content 
   }
};

@mixin full_screen {
   @media all and (max-width: $full_screen) {
      @content 
   }
};

@mixin middle_screen {
   @media all and (max-width: $middle_screen) {
      @content 
   }
};

@mixin laptop {
   @media all and (max-width: $laptop) {
      @content 
   }
};

@mixin ipad {
   @media all and (max-width: $ipad) {
      @content 
   }
};

@mixin mobile {   
    @media all and  (max-width: $mobile) {
       @content 
    }
  };

@mixin mobile_m {   
   @media all and  (max-width: $mobile_m) {
      @content 
   }
 };

 @mixin mobile_12 {   
   @media all and  (max-width: $mobile_12) {
      @content 
   }
 };

 @mixin mobile_s {   
   @media all and  (max-width: $mobile_s) {
      @content 
   }
 };

 @mixin mobile_xs {   
   @media all and  (max-width: $mobile_xs) {
      @content 
   }
 };

