#winapp {
    .winpage {
        font-family: "LiHei", sans-serif;
        background-image: url(../imgs/x2/blur_bg_up.jpg) !important;
        background-repeat: no-repeat;
        background-position: center top;
        background-color: $bg;
        background-size: contain;

        .banner {
            border: 1px solid transparent;
            height: 250px;
            position: relative;

            img.text_fill {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 17px;
                width: 80%;
            }

            img.m_text_fill {
                display: none;
            }
        }

        .main_bg {
            width: 65%;
            border: 1px solid transparent;
            margin: 0 auto;
            background-image: url(../imgs/x2/congratulations_text.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top center;
            margin-bottom: 110px;

            main {
                width: 70%;
                justify-content: center;
                margin: 100px auto 40px auto;

                img {
                    max-width: 100%;
                }
            }

            .down {
                margin-top: 47px;
                margin-bottom: 320px;
                width: 100%;

                .btnRow {
                    width: 100%;
                    display: flex;

                    button {
                        display: block;
                        margin: 0px auto 100px auto;
                        width: 318px;
                        height: 80px;
                        cursor: pointer;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-color: transparent;
                        outline: unset;
                        border: unset;

                        img {
                            width: 100%;

                            &:active {
                                opacity: .8;
                            }
                        }
                    }

                    button:nth-of-type(1) {
                        margin-right: 8%;
                    }

                    button:nth-of-type(2) {
                        margin-left: 8%;
                    }
                }
            }
        }

        .showAwards {
            width: 100%;
            height: 100%;
            background-color: rgba(53, 53, 53, 0.589);
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 6;
            transition: .1s;

            .wrap {
                width: 63%;
                margin: 0 auto;

                header {
                    margin-top: 50px;

                    .fullHeader {
                        max-width: 90%;
                        max-height: 100%;
                        top: 44%;
                    }
                }

                .banner {
                    height: 110px;
                    position: relative;
                    background-color: white;
                    border: unset;
                }

                .banner.part2 {
                    height: 120px;
                }

                .wordBox {
                    width: 100%;
                    height: 350px;
                    background-color: white;
                    overflow-y: auto;
                    padding: 0px 50px 50px 50px;

                    h6 {
                        color: $main;
                        font-weight: bold;
                    }

                    p.yellow {
                        color: $notice;
                        font-weight: bold;
                    }

                    p.item {
                        margin-top: 20px;
                    }
                }

                .picBox {
                    width: 100%;
                    text-align: center;
                    height: 350px;
                    background-color: white;
                    overflow-y: auto;
                    padding-bottom: 50px;

                    img {
                        width: 70%;
                    }
                }
            }

            #btn_close,
            #btn_close2 {
                position: absolute;
                cursor: pointer;
                top: 28px;
                right: 19%;
                z-index: 6;
                width: 40px;
            }

        }
    }

    @include middle_screen {
        .winpage {

            .main_bg {

                .down {
                    margin-top: 40px;
                    margin-bottom: 223px;

                    .btnRow {

                        button {
                            margin: 0px auto 100px auto;
                            width: 257px;
                            height: 64px;
                        }
                    }
                }
            }

            .showAwards {

                .wrap {

                    header {
                        height: 160px;

                        .fullHeader {
                            max-height: 82%;
                            top: 56%;
                        }
                    }

                }

                #btn_close,
                #btn_close2 {
                    position: absolute;
                    cursor: pointer;
                    top: 28px;
                    right: 17%;
                    z-index: 6;
                }

            }
        }
    }

    @include laptop {
        .winpage {

            .main_bg {
                margin-bottom: 90px;

                .down {
                    margin-bottom: 196px;

                    .btnRow {

                        button {
                            width: 257px;
                            height: 64px;
                        }
                    }
                }

            }

            .showAwards {

                .wrap {
                    width: 70%;

                    header {
                        height: 140px;
                    }

                    .banner,
                    .banner.part2 {
                        height: 66px;
                    }

                    .wordBox {
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
        }
    }

    @include ipad {
        .winpage {

            .banner {
                height: 154px !important;
            }

            .main_bg {
                main {
                    margin: 50px auto 40px auto;
                }

                .down {
                    margin-bottom: 150px;
                }
            }

            .showAwards {
                .wrap {
                    .banner {
                        height: 70px;
                    }
                }

            }

        }
    }
}

@include mobile {
    #winapp {
        background-image: unset;

        .winpage {
            position: relative;
            background-image: url(../imgs/mobile/m_blur_bg_up.jpg),
                url(../imgs/mobile/m_blur_bg_down.jpg);
            background-position: center top 0px, center bottom 0px;
            background-repeat: no-repeat, no-repeat;
            background-size: contain;
            min-height: 100vh;

            .banner {
                height: 135px;

                img.text_fill {
                    display: none;
                }

                img.m_text_fill {
                    position: absolute;
                    display: block;
                    width: 80%;
                    bottom: 25px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .main_bg {
                width: 100%;
                background-image: url(../imgs/mobile/m_congratulations_text.png);
                background-size: 90%;
                min-height: 81vh;
                position: relative;

                main {
                    width: 65%;
                    justify-content: center;
                    margin: 130px auto 0px auto;

                    img {
                        max-width: 80%;
                        margin: 0 auto;
                        display: block;
                    }
                }

                .down {
                    display: flex !important;
                    margin-bottom: 306px;
                    margin-top: 21px;

                    .btnRow {
                        width: 100%;

                        button {
                            margin: 0px auto;
                            cursor: pointer;
                            width: 200px;
                        }

                        button:nth-of-type(1) {
                            margin-right: 6%;
                        }

                        button:nth-of-type(2) {
                            margin-left: 6%;
                        }
                    }


                }

                .showAwards {

                    .wrap {
                        width: 80%;
                        margin: 0 auto;

                        header {
                            margin-top: 50px;

                            .fullHeader {
                                max-height: 86%;
                                top: 41%;
                            }
                        }

                        .banner {
                            transform: translateY(-26px);
                            height: 65px !important;
                        }

                        .banner.part2 {
                            height: 65px;
                        }

                        .wordBox {
                            transform: translateY(-26px);
                            width: 100%;
                            height: 300px;
                            padding: 0px 15px 15px 15px;
                            font-size: 12px;
                            line-height: 18px;

                        }

                        .picBox {
                            transform: translateY(-28px);
                            height: 300px;

                            img {
                                width: 90%;
                            }
                        }
                    }

                    #btn_close,
                    #btn_close2 {
                        width: 30px;
                        top: 36px;
                        right: 12%;
                        z-index: 6;
                    }

                }
            }


            .showAwards {

                .wrap {
                    width: 80%;
                    margin: 0 auto;

                    header {
                        background-image: url(../imgs/mobile/m_golden_top.png);
                        margin-top: 50px;

                        .fullHeader {
                            max-height: 80% !important;
                            top: 15px !important;
                        }
                    }

                    .banner {
                        transform: translateY(-26px);
                        height: 65px !important;
                    }

                    .banner.part2 {
                        height: 65px;
                    }

                    .wordBox {
                        transform: translateY(-26px);
                        width: 100%;
                        height: 300px;
                        padding: 0px 15px 15px 15px;
                        font-size: 12px;
                        line-height: 18px;

                    }

                    .picBox {
                        transform: translateY(-28px);
                        height: 370px;

                        img {
                            width: 90%;
                        }
                    }
                }

                #btn_close,
                #btn_close2 {
                    width: 30px;
                    top: 36px;
                    right: 12%;
                    z-index: 6;
                }

            }
        }
    }
}

@include mobile_m {
    #winapp {

        .winpage {

            .banner {
                height: 119px;
            }

            .main_bg {

                main {
                    width: 65%;
                    justify-content: center;
                    margin: 94px auto 0px auto;

                }

                .down {
                    margin-top: 8px;
                    margin-bottom: 278px;

                    .btnRow {

                        button {
                            width: 171px;
                        }

                        button:nth-of-type(1) {
                            margin-right: 3%;
                        }

                        button:nth-of-type(2) {
                            margin-left: 3%;
                        }
                    }
                }
            }

            .showAwards {

                .wrap {

                    header {
                        height: 126px;

                        .fullHeader {
                            max-height: 66% !important;
                            top: 23px !important;
                        }
                    }

                    .banner {
                        transform: translateY(0px);
                    }
                }

            }
        }
    }
}

@media all and (max-width: 390px) {
    #winapp {
        .winpage {

            .banner {
                height: 113px;
            }

            .main_bg {

                main {
                    width: 65%;
                    justify-content: center;
                    margin: 94px auto 0px auto;
                }

                .down {
                    margin-top: 1px;

                    .btnRow {

                        button {
                            width: 150px;
                        }

                        button:nth-of-type(1) {
                            margin-right: 4%;
                        }

                        button:nth-of-type(2) {
                            margin-left: 4%;
                        }
                    }
                }
            }
        }
    }
}

@include mobile_s {
    #winapp {

        .winpage {

            .showAwards {

                .wrap {

                    header {
                        height: 93px;

                        .fullHeader {
                            max-height: 86% !important;
                            top: 8px !important;
                        }
                    }

                    .banner {
                        transform: translateY(-88px);
                        height: 65px !important;
                    }

                    .banner.part2 {
                        height: 65px;
                    }

                    .wordBox {
                        transform: translateY(-88px);
                        height: 350px;
                    }

                    .picBox {
                        transform: translateY(-88px);
                        height: 350px;
                        padding-top: 40px;
                    }
                }

            }
        }
    }
}

@include mobile_xs {
    #winapp {

        .winpage {

            .main_bg {
                width: 100%;
                background-image: url(../imgs/mobile/m_congratulations_text.png);
                background-size: 88%;
                min-height: 71vh;
                margin-bottom: 0px;

                main {
                    width: 65%;
                    justify-content: center;
                    margin: 80px auto 0px auto;

                    img {
                        max-width: 95%;
                        margin: 0 auto;
                        display: block;
                    }
                }

                .down {
                    margin-bottom: 130px;

                    .btnRow {
                        width: 100%;
                        transform: translateY(200%);

                        button {
                            margin: 0px auto 0px auto;
                            cursor: pointer;
                            width: 125px;
                        }
                    }
                }
            }
        }
    }
}