@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, a {
  display: block;
}

body {
  line-height: 24px;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  /*隱藏滾輪*/
  display: none;
}

#app .up,
#app .down {
  border: 1px solid red;
  width: 60%;
  margin: 0 auto;
}

#app .up .banner {
  border: 1px solid green;
  height: 250px;
  position: relative;
}

#app .up .banner img {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#app .up .scan {
  display: none;
}

#app .up .middle {
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

#app .up .middle .left {
  width: 65%;
}

#app .up .middle .left .input label:nth-of-type(1) {
  font-size: 22px;
}

#app .up .middle .left .input label:nth-of-type(1) select {
  margin-right: 5px;
  margin-left: 5px;
}

#app .up .middle .left .input label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 40px;
}

#app .up .middle .left .input label .flxLeft {
  width: 40%;
  text-align: right;
}

#app .up .middle .left .input label .flxLeft span {
  font-size: 38px;
  color: #62171b;
  font-weight: bold;
  display: inline-block;
}

#app .up .middle .left .input label .flxLeft span.secSpan {
  font-size: 22px;
  color: black;
  font-weight: 800;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  margin-top: 15px;
}

#app .up .middle .left .input label .flxRight select:nth-of-type(1) {
  margin-left: 5px;
}

#app .up .middle .left .input label .flxRight select {
  font-size: 22px;
  padding: 10px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  border: 2px solid #999;
  outline: none;
}

#app .up .middle .left .input label input {
  width: 45%;
  outline: none;
  border: 2px solid #999;
  font-size: 38px;
  padding: 5px 0px 5px 5px;
  border-radius: 1px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  margin-left: 5px;
}

#app .up .middle .right {
  width: 33%;
}

#app .up .middle .right img {
  display: block;
  -webkit-box-shadow: 0px 15px 20px #666;
          box-shadow: 0px 15px 20px #666;
  max-width: 70%;
}

#app .up .middle .right img:nth-of-type(2) {
  margin-top: 10px;
}

#app .up .chkbox {
  border: 1px solid hotpink;
  margin: 0 auto;
  width: 50%;
  margin-top: 40px;
}

#app .up .chkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  cursor: pointer;
}

#app .up .chkbox label input[type="checkbox"] {
  zoom: 1.5;
}

#app .up .chkbox label .chkbox2 p:nth-of-type(1) {
  font-size: 22px;
  font-weight: bold;
}

#app .up .chkbox .chkbox2:nth-of-type(1) span {
  text-decoration: underline;
  color: #a08d4b;
}

#app .down {
  margin-top: 40px;
  margin-bottom: 80px;
}

#app .down .btnRow {
  text-align: center;
}

#app .down .btnRow button {
  width: 250px;
  height: 60px;
  margin-right: 40px;
}

#app .down p {
  text-align: right;
  margin-top: 40px;
  margin-bottom: 140px;
}

#app footer div {
  background-color: #62171b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app footer div p {
  margin: 15px 10px;
}

@media all and (max-width: 576px) {
  #app .up,
  #app .down {
    width: 90%;
  }
  #app .up .banner {
    height: 200px;
  }
  #app .up .scan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0;
  }
  #app .up .scan .scanL {
    width: 120px;
    height: 120px;
    line-height: 100px;
    font-size: 20px;
    background-color: yellow;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 8%;
    cursor: pointer;
  }
  #app .up .scan .scanR {
    width: 60%;
    font-size: 26px;
  }
  #app .up .scan .scanR p {
    border: 1px solid black;
    text-align: center;
    line-height: 36px;
  }
  #app .up .scan .scanR h4 {
    text-align: center;
    margin-top: 10px;
    color: #62171b;
    font-weight: bold;
    text-decoration: underline;
  }
  #app .up .middle {
    margin-top: 20px;
  }
  #app .up .middle .left {
    width: 100%;
  }
  #app .up .middle .left .input label:nth-of-type(1) {
    font-size: 22px;
  }
  #app .up .middle .left .input label:nth-of-type(1) select {
    margin-right: 5px;
    margin-left: 5px;
  }
  #app .up .middle .left .input label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 40px;
  }
  #app .up .middle .left .input label .flxLeft {
    width: 40%;
    text-align: right;
  }
  #app .up .middle .left .input label .flxLeft span {
    font-size: 38px;
    color: #62171b;
    font-weight: bold;
    display: inline-block;
  }
  #app .up .middle .left .input label .flxLeft span.secSpan {
    font-size: 22px;
    color: black;
    font-weight: 800;
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
    margin-top: 15px;
  }
  #app .up .middle .left .input label .flxRight select:nth-of-type(1) {
    margin-left: 5px;
  }
  #app .up .middle .left .input label .flxRight select {
    font-size: 22px;
    padding: 10px;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    border: 2px solid #999;
    outline: none;
  }
  #app .up .middle .left .input label input {
    width: 90%;
    outline: none;
    border: 2px solid #999;
    font-size: 38px;
    padding: 5px 0px 5px 5px;
    border-radius: 1px;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    margin-left: 5px;
  }
  #app .up .middle .right {
    display: none;
  }
  #app .up .chkbox {
    border: 1px solid hotpink;
    margin: 0 auto;
    width: 50%;
    margin-top: 40px;
  }
  #app .up .chkbox label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
    cursor: pointer;
  }
  #app .up .chkbox label input[type="checkbox"] {
    zoom: 1.5;
  }
  #app .up .chkbox label .chkbox2 p:nth-of-type(1) {
    font-size: 22px;
    font-weight: bold;
  }
  #app .up .chkbox .chkbox2:nth-of-type(1) span {
    text-decoration: underline;
    color: #a08d4b;
  }
  #app .down {
    margin-top: 40px;
    margin-bottom: 80px;
  }
  #app .down .btnRow {
    text-align: center;
  }
  #app .down .btnRow button {
    width: 250px;
    height: 60px;
    margin-right: 40px;
  }
  #app .down p {
    text-align: right;
    margin-top: 40px;
    margin-bottom: 140px;
  }
  #app footer div {
    background-color: #62171b;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #app footer div p {
    margin: 15px 10px;
  }
}
/*# sourceMappingURL=style.css.map */