<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sass/style.css">
    <title>Document</title>
    <style>
        .camera{
            /* border: 2px solid red; */
            width: 200px;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div id="app">
        <header>
            <the-header></the-header>
        </header>
        <form action="">
            <div class="banner">
                <img src="./imgs/x2/text_fill.png" class="text_fill">
                <img src="./imgs/mobile/m_text_fill.png" id="m_text_fill">
            </div>
            <div class="up">

                <!-- 這邊開始是掃描功能區塊 -->
                <div class="scan">
                    <div class="scanL" @click="() => this.isScan = true">
                        <img src="./imgs/mobile/m_scand.png" alt="">
                    </div>
                    <div class="scanR">
                        <p>掃描發票QR code</br>或輸入以下發票資料</p>
                        <h4 @click="openBill">參考發票</h4>
                    </div>
                </div>
                <qrcode-stream v-if="isScan" :camera="camera" @decode="onDecode" @init="onInit" class="camera">
                    <div v-show="showScanConfirmation" class="scan-confirmation">
                        <!-- <img :src="$withBase('/checkmark.svg')" alt="Checkmark" width="128px" /> -->
                    </div>
                </qrcode-stream>
                <!-- 掃瞄功能區塊結束 -->

                <!-- 手機發票區塊 -->
                <div class="bill_m" v-if="this.open === true">
                    <img src="./imgs/mobile/m_bill.png" alt="" class="billShow">
                    <img src="./imgs/mobile/m_pop_close.png" alt="" @click="closeBill" class="closeBtn">
                </div>
                <!-- 手機發票區塊結束 -->

                <div class="middle">
                    <div class="left">
                        <div class="input">
                            <label for="">
                                <div class="flxLeft">
                                    <span class="fstSpan">發票日期:</span>
                                </div>
                                <div class="flxRight">
                                    <select name="" id="" v-model="selectedMonth" @change="chooseMonths">
                                        <option selected hidden>{{selectedMonth}}</option>
                                        <option v-for="month in months">{{month}}</option>
                                    </select>
                                    <span class="spanMv">月</span>
                                    <select name="" id="" v-model="selectedDay">
                                        <option selected hidden>{{selectedDay}}</option>
                                        <option v-for="day in days">{{day}}</option>
                                    </select>
                                    <span class="spanMv">日</span>
                                </div>
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>發票號碼:</span></br>
                                    <span class="secSpan m1_span">英文字母2碼+數字8碼</br>必須持有紙本電子發票</span>
                                    <span class="m_span">英文字母2碼+數字8碼，必須持有紙本電子發票</span>
                                </div>
                                <input type="text" v-model="inv_data.num">
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>發票隨機碼:</span></br>
                                    <span class="secSpan">數字4碼不接受雲端發票</span>
                                </div>
                                <input type="number" v-model="inv_data.randomNum">
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>真實姓名:</span></br>
                                    <span class="secSpan">與身份證相同</span>
                                </div>
                                <input type="text">
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>手機號碼:</span></br>
                                    <span class="secSpan nowrap">10碼手機號碼，以09開始</span>
                                </div>
                                <input type="number">
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>電子郵件地址:</span></br>
                                    <span class="secSpan">用作發送得獎電子郵件</span>
                                </div>
                                <input type="email">
                            </label>
                        </div>

                    </div>
                    <div class="right">
                        <img src="./imgs/x2/bill.png" alt="">
                    </div>
                </div>
                <div class="chkbox">
                    <label for="chk1">
                        <input type="checkbox" id="chk1" v-model="chkData.agree.checked">
                        <div class="chkbox2">
                            <p>我已閱讀並同意<span>條款</span></p>
                            <p class="secP">(包括個人資料保護條款)</p>
                        </div>
                    </label>
                    <label for="chk2">
                        <input type="checkbox" id="chk2" v-model="chkData.age.checked">
                        <div class="chkbox2">
                            <p>我已年滿20歲</p>
                            <p class="secP">(20歲以下的參加者將被取消參加/得獎資格)</p>
                        </div>
                    </label>
                    <label for="chk3">
                        <input type="checkbox" id="chk3" v-model="chkData.ticket.checked">
                        <div class="chkbox2">
                            <p>我確認持有電子發票正本</p>
                            <p class="secP">(所有雲端發票將被取消參加/得獎資格)</p>
                        </div>
                    </label>
                </div>
            </div>
            <div class="down">
                <div class="btnRow">
                    <button type="button">
                        <img src="./imgs/x2/btn_rewrite.png" alt="">
                    </button>
                    <button type="button" @click="gotItems">
                        <img src="./imgs/x2/btn_send.png" alt="">
                    </button>
                </div>
            </div>
        </form>
        <footer>
            <the-footer></the-footer>
        </footer>
    </div>
    <script src="./js/vue.js"></script>
    <!-- vue qrcode -->
    <script src="https://unpkg.com/vue-qrcode-reader/dist/VueQrcodeReader.umd.min.js"></script>
    <script src="./js/header_footer.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                months: [12, 1, 2],
                selectedMonth: "月份",
                selectedDay: "日期",
                days: 0,
                chkData: {
                    agree: {
                        checked: false
                    },
                    age: {
                        checked: false
                    },
                    ticket: {
                        checked: false
                    }
                },
                open: false,

                //以下是 qrcode 掃描發票資訊
                inv_data: {
                    num: null,
                    date: null,
                    month: null,
                    randomNum: null,
                },
                camera: 'auto',
                result: null,
                showScanConfirmation: false,
                isScan: false, // 開關鏡頭  

            },
            methods: {
                chooseMonths() {
                    console.log('object');
                    switch (parseInt(this.selectedMonth)) {
                        case 2:
                            this.days = 28;
                            break;
                        default:
                            this.days = 31;
                            break;
                    }
                },
                gotItems() {

                },
                openBill() {
                    this.open = true;
                },
                closeBill() {
                    this.open = false;
                },

                //  qrcode sacn ...
                async onInit(promise) {
                    try {
                        await promise
                    } catch (e) {
                        console.error(e)
                    } finally {
                        this.showScanConfirmation = this.camera === "off"
                    }
                },

                async onDecode(content) {
                    this.result = content
                    console.log('onDecode');
                    this.pause()
                    // await this.timeout(500)
                    // this.unpause()
                },

                unpause() {
                    this.camera = 'auto';
                },

                pause() {
                    // this.camera = 'off'
                    this.isScan = false;

                },

                timeout(ms) {
                    return new Promise(resolve => {
                        window.setTimeout(resolve, ms)
                    })
                }
            },

            watch: {
                result(newValue) { // 監聽 result (發票掃描結果) 
                    console.log(newValue);
                    array = newValue.split(''); // 將字串轉陣列
                    // console.log(array);
                    invNum = array.slice(0, 10).join(''); // slice() 切割陣列 -> join 將陣列轉字串
                    invMonth = array.slice(13, 15).join('');
                    invDate = array.slice(15, 17).join('');
                    randomNum = array.slice(17, 21).join('');
                    this.inv_data.num = invNum;
                    this.selectedMonth = this.inv_data.month = invMonth;
                    this.selectedDay = this.inv_data.date = invDate;
                    this.inv_data.randomNum = randomNum;
                    this.isScan = false;
                },
            },
        })
    </script>
</body>

</html>