<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sass/style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form action="">
            <div class="up">
                <div class="banner">
                    <img src="./imgs/banner.png" alt="">
                </div>
                <div class="middle">
                    <div class="left">
                        <div class="input">
                            <label for="">
                                <div class="flxLeft">
                                    <span>發票日期:</span>
                                </div>
                                <select name="" id="" v-model="selectedMonth" @change="chooseMonths">
                                    <option>月份</option>
                                    <option v-for="month in months">{{month}}</option>
                                </select>月
                                <select name="" id="" >
                                    <option value="">日期</option>
                                    <option v-for="day in days">{{day}}</option>
                                </select>日
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>發票號碼:</span></br>
                                    <span class="secSpan">英文字母2碼+數字8碼</br>必須持有紙本電子發票</span>
                                </div>
                                <input type="text">
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>發票隨機碼:</span></br>
                                    <span class="secSpan">數字4碼不接受雲端發票</span>
                                </div>
                                <input type="number">
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>真實姓名:</span></br>
                                    <span class="secSpan">與身份證相同</span>
                                </div>
                                <input type="text">
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>手機號碼:</span></br>
                                    <span class="secSpan">10碼手機號碼，以09開始</span>
                                </div>
                                <input type="number">
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>電子郵件地址:</span></br>
                                    <span class="secSpan">用作發送得獎電子郵件</span>
                                </div>
                                <input type="email">
                            </label>
                        </div>
                        <div class="chkbox">
                            <label for="chk1">
                                <input type="checkbox" id="chk1">
                                <div class="chkbox2">
                                    <p>我已閱讀並同意<span>條款</span></p>
                                    <p class="secP">(包括個人資料保護條款)</p>
                                </div>
                            </label>
                            <label for="chk2">
                                <input type="checkbox" id="chk2">
                                <div class="chkbox2">
                                    <p>我已年滿20歲</p>
                                    <p class="secP">(20歲以下的參加者將被取消參加/得獎資格)</p>
                                </div>
                            </label>
                            <label for="chk3">
                                <input type="checkbox" id="chk3">
                                <div class="chkbox2">
                                    <p>我確認持有電子發票正本</p>
                                    <p class="secP">(所有雲端發票將被取消參加/得獎資格)</p>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="right">
                        <img src="./imgs/paysheetUp.JPG" alt="">
                        <img src="./imgs/paysheetDown.JPG" alt="">
                    </div>
                </div>
            </div>
            <div class="down">
                <div class="btnRow">
                    <button type="button">button1</button>
                    <button type="button">button2</button>
                </div>
                <p>
                    *本活動受條款及細則約束</br>
                    憑單一發票</br>
                    健達繽紛樂3入裝 / 5入裝 / 18入裝只計算為1件產品</br>
                    不接受所有雲端發票</br>
                    (有隨機碼的雲端發票亦不接受)</br>
                    必須保留紙本電子發票的證明聯及交易明細聯</br>
                    贈品圖片僅為示意 (以實機為準)</br>
                    贈品顏色隨機出貨 (恕不挑色)</br>
                </p>
            </div>
        </form>
    </div>
    <script src="./js/vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                months:[12,1,2],
                selectedMonth:"月份",
                days:0,
            },
            methods: {
                chooseMonths(){
                    console.log('object');
                    switch (parseInt(this.selectedMonth)) {
                        case 2:
                            this.days = 28;
                            console.log(this.selectedMonth); 
                            break;
                        default:
                            console.log(this.selectedMonth); 
                            this.days = 31;
                            break;
                    }
                },
            },
            
        })
    </script>
</body>

</html>