<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sass/style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form action="">
            <div class="up">
                <div class="banner">
                    <img src="./imgs/banner.png" alt="">
                </div>
                <!-- 這邊開始是掃描功能區塊 -->
                <div class="scan">
                    <div class="scanL">
                        按此掃描
                    </div>
                    <div class="scanR">
                        <p>掃描發票QR code</br>或輸入以下發票資料</p>
                        <h4>參考發票</h4>
                    </div>
                </div>
                <!-- 掃瞄功能區塊結束 -->
                <div class="middle">
                    <div class="left">
                        <div class="input">
                            <label for="">
                                <div class="flxLeft">
                                    <span>發票日期:</span>
                                </div>
                                <select name="" id="" v-model="selectedMonth" @change="chooseMonths">
                                    <option>月份</option>
                                    <option v-for="month in months">{{month}}</option>
                                </select>月
                                <select name="" id="" >
                                    <option value="">日期</option>
                                    <option v-for="day in days">{{day}}</option>
                                </select>日
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>發票號碼:</span></br>
                                    <span class="secSpan">英文字母2碼+數字8碼</br>必須持有紙本電子發票</span>
                                </div>
                                <input type="text">
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>發票隨機碼:</span></br>
                                    <span class="secSpan">數字4碼不接受雲端發票</span>
                                </div>
                                <input type="number">
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>真實姓名:</span></br>
                                    <span class="secSpan">與身份證相同</span>
                                </div>
                                <input type="text">
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>手機號碼:</span></br>
                                    <span class="secSpan">10碼手機號碼，以09開始</span>
                                </div>
                                <input type="number">
                            </label>
                            <label for="">
                                <div class="flxLeft">
                                    <span>電子郵件地址:</span></br>
                                    <span class="secSpan">用作發送得獎電子郵件</span>
                                </div>
                                <input type="email">
                            </label>
                        </div>

                    </div>
                    <div class="right">
                        <img src="./imgs/paysheetUp.JPG" alt="">
                        <img src="./imgs/paysheetDown.JPG" alt="">
                    </div>
                </div>
                <div class="chkbox">
                    <label for="chk1">
                        <input type="checkbox" id="chk1">
                        <div class="chkbox2">
                            <p>我已閱讀並同意<span>條款</span></p>
                            <p class="secP">(包括個人資料保護條款)</p>
                        </div>
                    </label>
                    <label for="chk2">
                        <input type="checkbox" id="chk2">
                        <div class="chkbox2">
                            <p>我已年滿20歲</p>
                            <p class="secP">(20歲以下的參加者將被取消參加/得獎資格)</p>
                        </div>
                    </label>
                    <label for="chk3">
                        <input type="checkbox" id="chk3">
                        <div class="chkbox2">
                            <p>我確認持有電子發票正本</p>
                            <p class="secP">(所有雲端發票將被取消參加/得獎資格)</p>
                        </div>
                    </label>
                </div>
            </div>
            <div class="down">
                <div class="btnRow">
                    <button type="button">button1</button>
                    <button type="button">button2</button>
                </div>
                
            </div>
        </form>
        <footer>
            <the-footer></the-footer>
        </footer>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/header_footer.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                months:[12,1,2],
                selectedMonth:"月份",
                days:0,
            },
            methods: {
                chooseMonths(){
                    console.log('object');
                    switch (parseInt(this.selectedMonth)) {
                        case 2:
                            this.days = 28;
                            break;
                        default:
                            this.days = 31;
                            break;
                    }
                },
            },
            
        })
    </script>
</body>

</html>