#app {
    background-image: url(../../imgs/1016_landing/landing_bg.jpg);
    background-position: top left;
    background-size: cover;

    .allContent {
        text-align: center;
        position: relative;

        img {
            max-width: 90%;
            margin-top: 20px;
        }

        #btndetail1,
        #btndetail2 {
            position: absolute;
            width: 150px;
            bottom: 256px;
            cursor: pointer;

            &:active {
                opacity: .8;
            }
        }

        #btndetail1 {
            left: 19%;
        }

        #btndetail2 {
            left: 46%;
        }

    }

    .down {

        .btnRow {
            display: flex;
            width: 80%;
            margin: 0 auto;

            button {
                width: 318px;
                height: 80px;
                margin-right: auto;
            }

            button:nth-of-type(1) {
                background-image: url(../../imgs/x2/btn_note.png);

            }

            button:nth-of-type(2) {
                background-image: url(../../imgs/x2/btn_join.png);

            }
        }
    }

    .showAwards {
        width: 100%;
        height: 100%;
        background-color: rgba(53, 53, 53, 0.589);
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 6;
        transition: .1s;

        .wrap {
            width: 67%;
            margin: 0 auto;

            header {
                margin-top: 50px;

                .fullHeader {
                    max-width: 90%;
                    max-height: 100%;
                    top: 44%;
                }
            }

            .banner {
                height: 152px;
                position: relative;
                background-color: white;
                border: unset;
            }

            .banner.part2 {
                height: 120px;
            }

            .wordBox {
                width: 100%;
                height: 450px;
                background-color: white;
                overflow-y: auto;
                padding:0px 50px 50px 50px;
                h6{
                    color: $main;
                    font-weight: bold;
                }
                p.yellow{
                    color:$notice;
                    font-weight: bold;
                }

                p.item{
                    margin-top: 20px;
                }
            }

            .picBox {
                width: 100%;
                text-align: center;
                height: 450px;
                background-color: white;
                overflow-y: auto;
                padding-bottom: 50px;

                img {
                    width: 80%;
                }
            }
        }

        #btn_close,
        #btn_close2 {
            position: absolute;
            cursor: pointer;
            top: 28px;
            right: 17%;
            z-index: 6;
        }

    }
}