#app {
    font-family: "LiHei", sans-serif;

    form {

        background-image: url(../../imgs/x2/blur_bg_up.jpg),
            url(../../imgs/x2/blur_bg_down.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left top, left bottom;
        background-color: $bg;

        .up,
        .down {
            border: 1px solid red;
            width: 55%;
            margin: 0 auto;
        }

        .banner {
            border: 1px solid green;
            height: 320px;
            position: relative;

            img.text_fill {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 50px;
                width: 65%;
            }

            img#m_text_fill {
                display: none;
            }
        }

        .up {
            margin-top: 15px;

            .scan {
                display: none;
            }

            .middle {
                border: 1px solid blue;
                display: flex;

                .left {
                    width: 65%;

                    .input {
                        label:nth-of-type(1) {
                            font-size: 22px;
                            margin-top: 25px;

                            select {
                                margin-right: 5px;
                                margin-left: 5px;
                            }
                        }

                        label {
                            display: flex;
                            align-items: flex-start;
                            margin-top: 80px;

                            .flxLeft {
                                width: 40%;
                                text-align: right;

                                span {
                                    font-size: 38px;
                                    color: $main;
                                    display: inline-block;
                                }

                                span.secSpan {
                                    font-size: 22px;
                                    color: black;
                                    transform: translateX(-15px);
                                    margin-top: 15px;
                                }

                                span.m_span {
                                    display: none;
                                }
                            }

                            .flxRight {
                                position: relative;

                                select:nth-of-type(1) {
                                    margin-left: 5px;
                                }

                                .spanMv {
                                    position: absolute;
                                }

                                .spanMv:nth-of-type(1) {
                                    transform: translateX(-20px);
                                }

                                select {
                                    font-size: 22px;
                                    padding: 10px;
                                    transform: translateY(-15px);
                                    border: 2px solid #999;
                                    outline: none;

                                }

                                select:nth-of-type(1) {
                                    margin-right: 20px;
                                }
                            }

                            input {
                                width: 45%;
                                outline: none;
                                border: 2px solid #999;
                                font-size: 38px;
                                padding: 5px 0px 5px 5px;
                                border-radius: 1px;
                                transform: translateY(-15px);
                                margin-left: 5px;
                            }
                        }
                    }

                }

                .right {
                    width: 33%;

                    img {
                        width: 100%;
                    }
                }
            }

            .chkbox {
                border: 1px solid hotpink;
                margin: 0 auto;
                width: 50%;
                margin-top: 40px;

                label {
                    display: flex;
                    margin-top: 25px;
                    cursor: pointer;

                    input[type="checkbox"] {
                        zoom: 1.5;
                    }

                    .chkbox2 {
                        p:nth-of-type(1) {
                            font-size: 22px;
                            font-weight: bold;
                        }
                    }
                }

                .chkbox2:nth-of-type(1) {
                    span {
                        text-decoration: underline;
                        color: $notice;
                    }
                }

            }
        }

        .down {
            margin-top: 60px;

            .btnRow {
                text-align: center;
                margin-bottom: 80px;

                button {
                    width: 318px;
                    height: 80px;
                    margin-right: 80px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-color: transparent;
                    outline: unset;
                    border: unset;
                    cursor: pointer;

                    &:active {
                        opacity: .8;
                    }
                }

                button:nth-of-type(1) {
                    background-image: url(../../imgs/x2/btn_rewrite.png);
                }

                button:nth-of-type(2) {
                    background-image: url(../../imgs/x2/btn_send.png);
                }
            }
        }
    }

    @include full_screen {
        form {

            background-image: url(../../imgs/x2/blur_bg_up.jpg),
                url(../../imgs/x2/blur_bg_down.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left top, left bottom;
            background-color: $bg;
            min-height: 100%;

            .up,
            .down {
                width: 900px;
            }

            .banner {
                height: 310px;
            }

            .up {

                .middle {

                    .left {
                        width: 72%;

                        .input {
                            label:nth-of-type(1) {
                                font-size: 24px;

                                select {
                                    margin-right: 8px;
                                    margin-left: 8px;
                                }
                            }

                            label {

                                .flxLeft {
                                    width: 40%;

                                    span {
                                        font-size: 33px;
                                    }

                                    span.secSpan {
                                        transform: translateX(-9px);
                                    }

                                    span.secSpan.nowrap {
                                        width: 255px;
                                        white-space: nowrap;
                                    }
                                }

                                .flxRight {

                                    select {
                                        font-size: 24px;
                                    }
                                }

                                input {
                                    font-size: 30px;
                                }
                            }
                        }

                    }

                    .right {

                        img {
                            transform: translateX(30px);
                        }
                    }
                }

                .chkbox {
                    width: 50%;
                    margin-top: 80px;
                    border: unset;

                    label {

                        .chkbox2 {
                            p:nth-of-type(1) {
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }

    @include middle_screen {
        form {

            .up,
            .down {
                width: 800px;
            }

            .banner {
                height: 280px;

                img.text_fill {
                    width: 80%;
                }
            }

            .up {

                .middle {

                    .left {
                        width: 80%;

                        .input {

                            label {

                                .flxLeft {
                                    width: 40%;

                                    span {
                                        font-size: 30px;
                                        transform: translateY(-2px);
                                    }

                                    span.secSpan {
                                        font-size: 18px;
                                        margin-top: 10px;
                                    }

                                    span.secSpan.nowrap {
                                        transform: translateX(-36px);

                                    }
                                }

                                .flxRight {

                                    select {
                                        font-size: 22px;
                                        padding: 9px;
                                    }
                                }

                                input {
                                    font-size: 24px;
                                    padding: 9px;
                                }
                            }
                        }

                    }

                    .right {

                        img {
                            transform: translateX(10px);
                        }
                    }
                }

                .chkbox {
                    margin-top: 60px;

                    label {
                        input[type="checkbox"] {
                            margin-left: 10px;
                        }
                    }
                }
            }

            .down {

                .btnRow {
                    margin-bottom: 80px;

                    button {
                        width: 286px;
                        height: 72px;
                        margin-right: 140px;
                    }

                    button:nth-of-type(2) {
                        margin-right: 0px;
                    }
                }
            }
        }

    }

    @include laptop {
        form {

            .up,
            .down {
                width: 720px;
            }

            .banner {
                height: 263px;

                img.text_fill {
                    bottom: 35px;
                }
            }

            .up {

                .middle {

                    .left {

                        .input {

                            label {
                                margin-top: 60px;

                                .flxLeft {

                                    span {
                                        font-size: 28px;
                                        transform: translateY(-6px);
                                    }

                                    span.secSpan {
                                        font-size: 16px;
                                        margin-top: 2px;
                                    }

                                    span.secSpan.nowrap {
                                        transform: translateX(-57px);

                                    }
                                }

                                .flxRight {

                                    select {
                                        font-size: 20px;
                                        padding: 8px;
                                    }
                                }

                                input {
                                    font-size: 22px;
                                    padding: 7px;
                                }
                            }
                        }

                    }

                    .right {

                        img {
                            transform: translateX(20px);
                        }
                    }
                }

            }

            .down {

                .btnRow {
                    margin-bottom: 75px;

                    button {
                        width: 257px;
                        height: 64px;
                        margin-right: 130px;
                    }
                }
            }
        }
    }

    @include ipad {
        form {

            .up,
            .down {
                width: 680px;
            }

            .banner {
                height: 180px;

                img.text_fill {
                    bottom: 25px;
                }
            }

            .up {

                .middle {

                    .left {

                        .input {

                            label {
                                margin-top: 50px;

                                .flxLeft {

                                    span.secSpan.nowrap {
                                        transform: translateX(-70px);

                                    }
                                }

                            }
                        }

                    }

                    .right {

                        img {
                            transform: translateX(10px);
                        }
                    }
                }

                .chkbox {
                    width: 55%;
                    margin-top: 30px;

                    label {
                        margin-top: 30px;

                        .chkbox2 {
                            p:nth-of-type(1) {
                                font-size: 18px;
                            }
                        }
                    }

                }

            }
        }
    }

    @include mobile {
        form {
            .banner {
                height: 155px;
                position: relative;

                img.text_fill {
                    display: none;
                }

                img#m_text_fill {
                    position: absolute;
                    display: block;
                    width: 90%;
                    left: 50%;
                    bottom: 24px;
                    transform: translateX(-50%);
                }
            }

            .up,
            .down {
                width: 80%;
            }

            .up {

                margin: 0 auto;

                .scan {
                    display: flex !important;
                    justify-content: center;

                    .scanL {
                        margin: 0 auto;
                        cursor: pointer;

                        img {
                            width: 120px;
                            ;
                        }
                    }

                    .scanR {
                        width: 70%;
                        font-size: 24px;
                        color: $main;

                        p {
                            text-align: center;
                            line-height: 36px;
                        }

                        h4 {
                            text-align: center;
                            margin-top: 8px;
                            color: $notice;
                            text-decoration: underline;
                        }
                    }
                }

                .bill_m {
                    width: 100%;
                    height: 100%;
                    background-color: rgba(53, 53, 53, 0.589);
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    z-index: 6;
                    transition: .1s;
                    img.billShow{
                        display: block;
                        margin: 30px auto 0 auto; 
                        width: 60%;
                    }
                    img.closeBtn{
                        display: block;
                        position: absolute;
                        width: 10%;
                        top:20px;
                        right: 20%;
                    }

                }

                .middle {
                    margin-top: 10px;

                    .left {
                        width: 100%;

                        .input {
                            label:nth-of-type(1) {
                                display: flex;
                                font-size: 22px;

                                .flxLeft {
                                    width: 27%;

                                    span {
                                        margin-left: 12%;
                                        transform: translateY(1px);
                                    }
                                }

                                select {
                                    margin-right: 5px;
                                    margin-left: 5px;
                                    background-color: white;
                                }
                            }

                            label {
                                display: block;
                                flex-wrap: wrap;
                                align-items: flex-start;
                                margin-top: 40px;

                                .flxLeft {
                                    width: 100%;
                                    text-align: left;

                                    span {
                                        font-size: 24px;
                                        color: $main;
                                        display: inline-block;
                                        margin-left: 2.5%;
                                    }

                                    span.m_span {
                                        display: block;
                                    }

                                    span.secSpan,
                                    span.m_span {
                                        font-size: 18px;
                                        color: black;
                                        margin-left: 14px;
                                        margin-top: 5px;
                                    }

                                    span.secSpan {
                                        transform: translateX(-1px);
                                        margin-top: 0px;
                                    }

                                    span.m1_span {
                                        display: none;
                                    }

                                    span.secSpan.nowrap {
                                        transform: translateX(0px);
                                    }

                                }

                                .flxRight {

                                    select:nth-of-type(1) {
                                        margin-left: 5px;
                                    }

                                    select {
                                        font-size: 18px;
                                        padding: 5px;
                                        transform: translateY(-5px);
                                        border: 2px solid #999;
                                        outline: none;
                                    }


                                }

                                input {
                                    width: 90%;
                                    outline: none;
                                    border: 2px solid #999;
                                    font-size: 24px;
                                    padding: 5px 0px 5px 5px;
                                    border-radius: 1px;
                                    transform: translateY(3px);
                                    margin-left: 12px;
                                }
                            }
                        }

                    }

                    .right {
                        display: none;
                    }
                }

                .chkbox {
                    margin: 0 auto;
                    width: 100%;
                    margin-top: 40px;

                    label {
                        margin-top: 25px;
                        cursor: pointer;

                        input[type="checkbox"] {
                            zoom: 1;
                            margin-left: 15px;
                        }

                        .chkbox2 {
                            p:nth-of-type(1) {
                                font-size: 18px;
                            }

                            p.secP {
                                font-size: 14px;
                            }
                        }
                    }

                }
            }

            .down {
                margin-top: 35px;
                margin-bottom: 0px;

                .btnRow {
                    flex-wrap: nowrap;
                    margin-bottom: 45px;

                    button {
                        width: 191px;
                        height: 46px;
                        margin-right: 15%;
                    }
                }
            }
        }

    }

    @include mobile_m {
        form {
            .banner {
                height: 125px;

                img.text_fill {
                    display: none;
                }

                img#m_text_fill {
                    bottom: 20px;
                }
            }

            .up {
                width: 85%;
            }

            .up {

                margin: 0 auto;

                .scan {
                    display: flex !important;
                    justify-content: center;

                    .scanL {
                        margin: 0 auto;
                        cursor: pointer;

                        img {
                            width: 120px;
                            ;
                        }
                    }

                    .scanR {
                        font-size: 22px;

                        p {
                            line-height: 26px;
                            margin-top: 20px;
                        }
                    }
                }

                .middle {
                    margin-top: 0px;

                    .left {

                        .input {
                            label:nth-of-type(1) {
                                font-size: 20px;

                                .flxLeft {
                                    width: 35%;

                                    span {
                                        margin-left: 5%;
                                        transform: translateY(1px);
                                    }
                                }
                            }

                            label {
                                margin-top: 35px;

                                .flxLeft {

                                    span {
                                        margin-left: 1.8%;
                                    }

                                    span.secSpan,
                                    span.m_span {
                                        font-size: 15px;
                                        margin-left: 8px;
                                        margin-top: 2px;
                                    }

                                    span.secSpan.nowrap {
                                        transform: translateX(0px);
                                    }

                                }

                                input {
                                    transform: translateY(0px);
                                    margin-left: 9px;
                                    font-size: 20px;
                                }
                            }
                        }

                    }

                }

                .chkbox {
                    margin-top: 25px;

                    label {
                        margin-top: 18px;

                        input[type="checkbox"] {
                            margin-left: 12px;
                        }
                    }

                }
            }

            .down {
                width: 95%;

                .btnRow {
                    margin-bottom: 35px;

                    button {
                        width: 171px;
                        height: 41px;
                        margin-right: 9%;
                    }
                }
            }
        }
    }
}